.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left_side {
  flex: 0.8;
  padding: 28px;
  background-color: white;
}


.right_side {
  flex: 1;
  background-image: url('../assets/bg_login.jpg');
  background-size: cover;
  backdrop-filter: brightness(0.1) blur(3px);
}

.left_top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left_top>img {
  margin-right: 16px;
  margin-left: 40px;
}

.left_inside {
  display: flex;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 64px;
  flex-direction: column;
}

.left_inside>h2 {
  margin-top: 98px;
  margin-bottom: 40px;
  font-size: 28px;
  width: 250px;
}

.google_login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 52px;
  background: none;
  border: 1.5px solid #cecece;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.google_login {
  padding-right: 16px;
}

.google_login:hover {
  background-color: #eeecec91;
}

.right_side {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  justify-content: center;
}

.right_side>h1 {
  color: white;
}

.right_side>span {
  width: 400px;
  color: white;
}